.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
}

.label {
    display: block;
}

.input {
    width: 100%;
    padding: 10px 25px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.input::placeholder {
    color: #212529;
    opacity: 0.7;
}

.input:focus {
    background-color: #fff;
    border-color: #3f3f3f;
    outline: 0px ;
    box-shadow: 0 0 5px 5px rgba(158, 158, 158, 0.25);
}

.button {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    transition: background-color .5s;
}

.button:hover {
    box-shadow: none;
    background-color: rgba(179,159,122,1);
}

.button:active {
    box-shadow: 0 0 5px 5px rgba(158, 158, 158, 0.25);
    background-color: rgb(66, 55, 45);
}
.button:disabled {
    cursor: not-allowed;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.76);
}